<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="this is the navbar">
    <title>Nav-Bar</title>
    <link href="/main.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap">

    <link 
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" 
      rel="stylesheet" 
      media="print" 
      onload="this.media='all'">

    <noscript>
      <link 
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" 
        rel="stylesheet">
    </noscript>
</head>

<body>
    <section class="nav_section">
        <ul class="nav_elements">
            <li onclick="openAboutus()" class="nav_options">About Us</li>
            <li onclick="openDashboard()" class="nav_options">Dashboard</li>
            <li onclick="openExpense()" class="nav_options">Expenses</li>
            <li onclick="openIncome()" class="nav_options">Income</li>
        </ul>
        <ul>
            <li class="logout" onclick="confirmLogout()">Log Out</li>
        </ul>
        </nav>
    </section>
    <script>

        function confirmLogout() {
            if (confirm("Are you sure you want to log out?")) {
                window.location.href = "/logout";
            }
        }

        function openAboutus() {
            window.location.href = "/aboutUs";
        }

        function openDashboard() {
            window.location.href = "/dashboard";
        }

        function openExpense() {
            window.location.href = "/expense";
        }

        function openIncome() {
            window.location.href = "/income";
        }

    </script>
</body>

</html>