<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body class="landing-page">

    <!-- Hero Section -->
    <section class="hero">
        <div class="center-hero-div">
            <div>
                <h1 class="hero-heading">Track Your Expenses. Grow Your Savings.</h1>
                <p class="hero-subheading">Make Every Rupee Count - With Clarity and Control.</p>
                <div class="cta-buttons">
                    <button class="button">
                        <div class="button-outer">
                            <div class="button-inner">
                                <span><a href="/signup" class="remove-formatting">Sign Up</a></span>
                            </div>
                        </div>
                    </button>
                    <a href="/login" class="login-btn">Log In</a>
                </div>
            </div>

        </div>
    </section>

    <section class="web-features">
        <div class="web-features-div">
            <h2 class="web-features-heading">Key Features</h2>
            <div class="feature-cards">
                <!-- From Uiverse.io by kennyotsu -->
                <div class="container-features noselect">
                    <div class="canvas">
                        <div class="tracker tr-1"></div>
                        <div class="tracker tr-2"></div>
                        <div class="tracker tr-3"></div>
                        <div class="tracker tr-4"></div>
                        <div class="tracker tr-5"></div>
                        <div class="tracker tr-6"></div>
                        <div class="tracker tr-7"></div>
                        <div class="tracker tr-8"></div>
                        <div class="tracker tr-9"></div>
                        <div class="tracker tr-10"></div>
                        <div class="tracker tr-11"></div>
                        <div class="tracker tr-12"></div>
                        <div class="tracker tr-13"></div>
                        <div class="tracker tr-14"></div>
                        <div class="tracker tr-15"></div>
                        <div class="tracker tr-16"></div>
                        <div class="tracker tr-17"></div>
                        <div class="tracker tr-18"></div>
                        <div class="tracker tr-19"></div>
                        <div class="tracker tr-20"></div>
                        <div class="tracker tr-21"></div>
                        <div class="tracker tr-22"></div>
                        <div class="tracker tr-23"></div>
                        <div class="tracker tr-24"></div>
                        <div class="tracker tr-25"></div>
                        <div id="card">
                            <p id="prompt"><svg class="features-card-icons" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path
                                        d="M384 160c-17.7 0-32-14.3-32-32s14.3-32 32-32l160 0c17.7 0 32 14.3 32 32l0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-82.7L342.6 374.6c-12.5 12.5-32.8 12.5-45.3 0L192 269.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160c12.5-12.5 32.8-12.5 45.3 0L320 306.7 466.7 160 384 160z" />
                                </svg>EXPENSE<br>TRACKING</p>
                            <div class="title">Track all your <br>daily expenses in a few clicks.</div>

                        </div>
                    </div>
                </div>
                <div class="container-features noselect">
                    <div class="canvas">
                        <div class="tracker tr-1"></div>
                        <div class="tracker tr-2"></div>
                        <div class="tracker tr-3"></div>
                        <div class="tracker tr-4"></div>
                        <div class="tracker tr-5"></div>
                        <div class="tracker tr-6"></div>
                        <div class="tracker tr-7"></div>
                        <div class="tracker tr-8"></div>
                        <div class="tracker tr-9"></div>
                        <div class="tracker tr-10"></div>
                        <div class="tracker tr-11"></div>
                        <div class="tracker tr-12"></div>
                        <div class="tracker tr-13"></div>
                        <div class="tracker tr-14"></div>
                        <div class="tracker tr-15"></div>
                        <div class="tracker tr-16"></div>
                        <div class="tracker tr-17"></div>
                        <div class="tracker tr-18"></div>
                        <div class="tracker tr-19"></div>
                        <div class="tracker tr-20"></div>
                        <div class="tracker tr-21"></div>
                        <div class="tracker tr-22"></div>
                        <div class="tracker tr-23"></div>
                        <div class="tracker tr-24"></div>
                        <div class="tracker tr-25"></div>
                        <div id="card">
                            <p id="prompt"><svg class="features-card-icons" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path
                                        d="M160 80c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 352c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-352zM0 272c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48L0 272zM368 96l32 0c26.5 0 48 21.5 48 48l0 288c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48z" />
                                </svg>VISUAL<br> REPORTS</p>
                            <div class="title">Get detailed insights <br>into your spending patterns.</div>

                        </div>
                    </div>
                </div>
                <div class="container-features noselect">
                    <div class="canvas">
                        <div class="tracker tr-1"></div>
                        <div class="tracker tr-2"></div>
                        <div class="tracker tr-3"></div>
                        <div class="tracker tr-4"></div>
                        <div class="tracker tr-5"></div>
                        <div class="tracker tr-6"></div>
                        <div class="tracker tr-7"></div>
                        <div class="tracker tr-8"></div>
                        <div class="tracker tr-9"></div>
                        <div class="tracker tr-10"></div>
                        <div class="tracker tr-11"></div>
                        <div class="tracker tr-12"></div>
                        <div class="tracker tr-13"></div>
                        <div class="tracker tr-14"></div>
                        <div class="tracker tr-15"></div>
                        <div class="tracker tr-16"></div>
                        <div class="tracker tr-17"></div>
                        <div class="tracker tr-18"></div>
                        <div class="tracker tr-19"></div>
                        <div class="tracker tr-20"></div>
                        <div class="tracker tr-21"></div>
                        <div class="tracker tr-22"></div>
                        <div class="tracker tr-23"></div>
                        <div class="tracker tr-24"></div>
                        <div class="tracker tr-25"></div>
                        <div id="card">
                            <p id="prompt"><svg class="features-card-icons" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path
                                        d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z" />
                                </svg>DATA<br>PROTECTION</p>
                            <div class="title">Your data is <br> encrypted and safely stored.</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- How It Works Section -->
    <section class="how-it-works">
        <h2 class="hiw-heading">How It Works</h2>
        <div class="steps">
            <div class="step" style="margin-top: 57;">
                <div>
                    <h3 class="step_h3">Step 1</h3>
                    <p class="step_p">Sign Up</p>
                </div>
                <div class="video-card">
                    <video class="content" src="/video/Sign_up_page.mp4" height="370px" width="auto" autoplay loop
                        muted></video>
                </div>

            </div>
            <div class="step">
                <div class="video-card">
                    <video class="content" src="/video/expense_page.mp4" height="370px" width="auto" autoplay loop
                        muted></video>
                </div>
                <div>
                    <h3 class="step_h3">Step 2</h3>
                    <p class="step_p">Add Your Expenses</p>
                </div>
            </div>
            <div class="step">
                <div>
                    <h3 class="step_h3">Step 3</h3>
                    <p class="step_p">View Reports</p>
                </div>
                <div class="video-card">
                    <video class="content" src="/video/dashboard_page.mp4" height="370px" width="auto" autoplay loop
                        muted></video>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Terms & Privacy</a></li>
        </ul>
    </footer>
    <script>
        const heading = document.querySelector(".hiw-heading");

        const observer = new IntersectionObserver(
            ([entry]) => {
                if (entry.isIntersecting) {
                    heading.classList.add("in-view");
                }
            },
            {
                threshold: 0.5
            }
        );

        observer.observe(heading);
    </script>

</body>

</html>