<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Log In to Expense Manager">
    <title>Log In</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="loginPage_main">

    <div class="login_pg">
        <h1 class="login_pg_h1">Welcome to<br> Expense Manager!</h1>
    
        <div class="login_form">
            <form action="/login" method="POST">

                <label class="Labels">Email</label>
                <input type="email" name="userEmail" class="userEmail" placeholder="Email" required>

                <label class="Labels">Password</label>
                <input type="password" name="password" class="password" placeholder="Password" required>

                <button class="submit_btn">Log In</button>

            </form>
        </div>
    </div>
    
</body>
</html>