body {
    margin: 0;
    overflow: hidden;
    background-color: #F7F5EA;
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;

}

/*nav section*/
.nav_section {
    background-color: #3A3A3A;
    height: 600px;
    width: 300px;
    margin: 60px 60px;
    border-radius: 20px;
}

.nav_elements {
    position: absolute;
    width: auto;
    list-style: none;
    color: #F7F5EA;
    font-size: 26.5px;
    font-weight: 600;
    margin: 40px 0px;
}

.nav_elements li {
    margin: 6px;
    padding: 4px 8px;
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.nav_elements li:hover {
    transform: scale(1.1);
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
}

.logout {
    margin: 6px;
    padding: 4px 8px;
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
    color: #F7F5EA;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-in;
    list-style: none;
    position: relative;
    top: 530px;
}

.logout:hover {
    transform: scale(1.1);
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
}

/*home page*/

.home_pg_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_section {
    background-color: #3A3A3A;
    border-radius: 20px;
    height: 600px;
    width: 80%;
    max-width: 1050px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro {
    position: relative;
    padding: 20px;
    color: #F7F5EA;
    width: 500px;
    margin: 35px 35px;
}

.heading1 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 600;
}

.heading2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 800;
}

.intro_content {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
}

.getStartedBtn {
    border: 1px solid rgba(255, 255, 255, 0.618);
    background: none;
    color: #F7F5EA;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.getStartedBtn:hover {
    color: white;
    background-color: #4CAF50;
}

.signUp_btn {
    background-color: #4CAF50;
    border-style: none;
    font-size: 16px;
    font-weight: 550;
    color: #F7F5EA;
    padding: 8px 14px;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.signUp_btn:hover {
    transform: 0.3s ease;
    background-color:  #38933b;
}

.login_btn {
    background-color: #3A3A3A;
    border-style: none;
    font-size: 16px;
    font-weight: 550;
    color: #F7F5EA;
    padding: 8px 14px;
    border-radius: 18px;
    margin-left: 10px;
    border: 1px solid #F7F5EA;
    transition: color 0.3s ease;
}

.login_btn:hover {
    transform: 0.3s ease;
    color:  #4CAF50;
}

/* About Us */
.page2_heading {
    font-size: 43px;
    margin-bottom: 0;
    z-index: 9;
}

.page2_content {
    position: sticky;
    font-size: 20px;
    z-index: 2;
}

/* Dashboard styling*/
.dashboard_pg {
    background-color: #3A3A3A;
    border-radius: 20px;
    height: 600px;
    width: 1050px;
    margin-top: 60px;
}

.title_of_display {
    font-size: 16px;
    color: #F7F5EA;
}

.total_amount {
    font-size: 20px;
    padding: 7px 17px;
    background-color: #F7F5EA;
    color: #3A3A3A;
    font-weight: 550;
    border-radius: 20px;
}

/* Expenses page*/

.Expenses_section {
    background-color: #3A3A3A;
    border-radius: 20px;
    height: 600px;
    width: 1050px;
    margin-top: 60px;
    margin-bottom: 4rem;
    color: #3A3A3A;
}

.expense_div {
    height: fit-content;
    width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
}

.expenses_form {
    height: 450px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    background-color: #F7F5EA;
    grid-column: 1;
    grid-row: 1;
}

.form_heading_div {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_heading {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
    color: #3A3A3A;
}

.form_sub_divs label {
    font-size: 16px;
    font-weight: 550;
    display: block;
    margin-bottom: 5px;
}

.inputField {
    padding: 10px;
    font-size: 14px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.51);
    color: black;
    width: 380px;
    margin-bottom: 10px;
}

.inputField:focus{
    outline:none
}

.expense_add_btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense_add_btn {
    border-style: none;
    border-radius: 20px;
    padding: 9px 24px;
    margin: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: #FF3131;
    transition: 0.2s ease all;
}

.expense_add_btn:hover {
    background-color: #ea1d1d;
    transform: 0.3s ease;
}

.expenses_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.income_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.output_div {
    height: 375px;
    width: 410px;
    padding: 20px;
    background-color: #F7F5EA;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 50px;
    margin-right: 3rem;
}

.scrollable_div {
    height: 318px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.output_div_heading {
    font-size: 25px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 5px;
}

.output_category {
    font-size: 22px;
    font-weight: 600;
    color: #3A3A3A;
    width: 100%;
}

.icons_cat_div{
    display: flex;
    align-items: center;
}

.icon_div{
    display: flex;
    align-items:first baseline;
    justify-content: flex-end;
    gap: 7px;
    width: 100%;
    margin-right: 17px;
}

.icon{
    height: 1.1rem;
    width: 1.1rem;
    fill: #3A3A3A;
    transition: all 0.2s ease;
}

.edit:hover{
    fill: #007f04;
}

.delete:hover{
    fill:#ea1d1d;
}

.category_amount {
    margin-left: 0px;
    font-size: 18px;
    color: #3A3A3A;
    font-weight: 600;
    display: flex;
    padding-right: 20px;
    margin-bottom: 15px;
}

.category_date {
    padding-left: 8px;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 500;
    align-self: self-end;
}

.DisplayTotal {
    height: 60px;
    width: 450px;
    background-color: #F7F5EA;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DisplayTotal_content {
    font-size: 25px;
    font-weight: 550;
    color: #3A3A3A;
}

#total_amount {
    font-size: 25px;
    font-weight: 550;
    color: #FF3131;
}

/* Income pg */
.income_add_btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.income_add_btn {
    border-style: none;
    border-radius: 20px;
    padding: 9px 24px;
    margin: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: #4CAF50;
    transition: 0.2s ease all;
}

.income_add_btn:hover {
    transform: 0.2s ease;
    background-color: #38933b;
}

#totalIncome_amount {
    font-size: 25px;
    font-weight: 550;
    color: #4CAF50;
}

/* LOGIN page */
.loginPage_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_pg {
    background-color: #3A3A3A;
    margin-top: 100px;
    padding: 40px;
    border-radius: 20px;
    height: auto;
    width: 30%;
    max-width: 450px;
    min-width: 300px;
}

.login_pg_h1 {
    color: #faf6e2;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-bottom: 1.7rem;
    margin-top: 0;
}

.Labels {
    color: #faf6e2;
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 530;
    display: block;
}

.userEmail {
    display: block;
    padding: 10px 20px;
    margin-bottom: 1.3rem;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.526);
    border-radius: 20px;
}

.userEmail:focus {
    outline: none;
}

.password {
    display: block;
    padding: 10px 20px;
    margin-bottom: 30px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.526);
    border-radius: 20px;
}

.password:focus{
    outline:none;
}

.submit_btn {
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: #F7F5EA;
    padding: 8px 30px;
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 550;
    transition: 0.2s ease all;
    
}

.submit_btn:hover {
    background-color: #38933b;
    transform: 0.2s ease all;
}

.dashboard_btn_div {
    padding: 20px;
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.dashboard_btn {
    padding: 10px 22px;
    font-size: clamp(0.5rem, 2vw, 1rem);
    border-style: none;
    background: none;
    border-radius: 20px;
    border: 1px solid #F7F5EA;
    color: #F7F5EA;
    transition: all 0.3s ease;
}

.income_btn:hover {
    background-color: #38933b;
    color: white;
}

.expenses_btn:hover {
    background-color: #e02a2a;
    color: white;
}

.compare_btn:hover {
    background-color: rgb(20, 118, 255);
    color: white;
}

.chart_div {
    background-color: #F7F5EA;
    height: 430px;
    margin: 0px 4%;
    border: 1px solid black;
}